@font-face {
  font-family: 'Lato-Black';
  src: url('/fonts/latoBlack/Lato-Black.eot');
  src: url('/fonts/latoBlack/Lato-Black.eot?iefix') format('eot'),
  url('/fonts/latoBlack/Lato-Black.woff') format('woff'),
  url('/fonts/latoBlack/Lato-Black.ttf') format('truetype'),
  url('/fonts/latoBlack/Lato-Black.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('/fonts/latoBold/Lato-Bold.eot');
  src: url('/fonts/latoBold/Lato-Bold.eot?iefix') format('eot'),
  url('/fonts/latoBold/Lato-Bold.woff') format('woff'),
  url('/fonts/latoBold/Lato-Bold.ttf') format('truetype'),
  url('/fonts/latoBold/Lato-Bold.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('/fonts/latoRegular/Lato-Regular.eot');
  src: url('/fonts/latoRegular/Lato-Regular.eot?iefix') format('eot'),
  url('/fonts/latoRegular/Lato-Regular.woff') format('woff'),
  url('/fonts/latoRegular/Lato-Regular.ttf') format('truetype'),
  url('/fonts/latoRegular/Lato-Regular.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Raleway-Black';
  src: url('/fonts/ralewayBlack/Raleway-Black.eot');
  src: url('/fonts/ralewayBlack/Raleway-Black.eot?iefix') format('eot'),
  url('/fonts/ralewayBlack/Raleway-Black.woff') format('woff'),
  url('/fonts/ralewayBlack/Raleway-Black.ttf') format('truetype'),
  url('/fonts/ralewayBlack/Raleway-Black.svg#webfont') format('svg');
}