$WHITE: #fff;
$CANDELIGHT: #ffd119;
$BLACK: #000;

$telNumber: 14px 'Lato-Bold';
$navFonts: 14px 'Lato-Bold';
$titleDesktop: 30px 'Raleway-Black';
$titleMobile: 24px 'Raleway-Black';
$btnFonts: 16px 'Lato Black';
$menuFontsDesktop: 14px 'Lato-Regular';
